<div class="container">
  <div class="row">
    <div class="col" align = "center">

      <h1>Upload an image</h1>
      <hr>

      <form action="/success" method="POST" enctype="multipart/form-data" >

        <div class="form-group">
          <label>Select image</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="file" id="file" accept="image/x-png,image/jpeg">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </div>
  </div>
</div>
